[submodule "01-hw-types"]
	path = 01-hw-types
	url = git@github.com:kaznachey72/task01.git
[submodule "02-hw-converter"]
	path = 02-hw-converter
	url = git@github.com:kaznachey72/task02.git
[submodule "03-hw-hash_table-chain"]
        path = 03-hw-hash_table-chain
        url = git@github.com:kaznachey72/task03.git
[submodule "03-hw-hash_table-open_addressing"]
	path = 03-hw-hash_table-open_addressing
	url = git@github.com:kaznachey72/task03_2.git
[submodule "04-hw-json-rest_api"]
        path = 04-hw-json-rest_api
        url = git@github.com:kaznachey72/task04.git
[submodule "05-hw-plugin_gstreamer"]
	path = 05-hw-plugin_gstreamer
	url = git@github.com:kaznachey72/task05.git
[submodule "06-hw-logger"]
	path = 06-hw-logger
	url = git@github.com:kaznachey72/task06.git
[submodule "07-hw-assermbler"]
	path = 07-hw-assermbler
	url = git@github.com:kaznachey72/task07.git
[submodule "08-hw-posix-check_memory_leaks"]
	path = 08-hw-posix-check_memory_leaks
	url = git@github.com:kaznachey72/task08.git
[submodule "09-hw-ipc-unix_sockets-daemon"]
	path = 09-hw-ipc-unix_sockets-daemon
	url = git@github.com:kaznachey72/task09.git
[submodule "10-hw-shared_memory-checksum_crc32"]
	path = 10-hw-shared_memory-checksum_crc32
	url = git@github.com:kaznachey72/task10.git
[submodule "11-hw-threads-log_parsing"]
	path = 11-hw-threads-log_parsing
	url = git@github.com:kaznachey72/task11.git
[submodule "12-hw-network_client"]
	path = 12-hw-network_client
	url = git@github.com:kaznachey72/task12.git
[submodule "13-hw-async-http_server"]
	path = 13-hw-async-http_server
	url = git@github.com:kaznachey72/task13.git
